.wrapper_with_padding
  #doc_show
    %h1.title= @doc.title
    %p= simple_format(@doc.content)
    
    .buttons
      = link_to "Editar documento", edit_doc_path(@doc), class: 'button'
      = link_to "Eliminar", doc_path(@doc), method: :delete, data: { confirm: "¿Estas seguro?" }, class: 'button'
