#banner
  .banner_content
    %h1 File Cabinet
    %p Tu vida laboral. Organizada, siempre.
    %button= link_to "Regístrate", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organízate
        %p Todos tus documentos organizados y seguros en un solo lugar.
        %p
          Ahora podras dejar de preocuparte por tus documentos, deja que nosotros nos
          encarguemos para que puedas tenerlos siempre disponibles en cualquier parte.

#bottom_cta
  .wrapper
    %h2 Adelante
    %br
    %button= link_to "Únete ahora", new_user_registration_path
